aider*
__pycache__
*.egg-info
**/node_modules/

*.env*
!.env.example
*.pem
TODO.md
logs/
**/*.db*
.card
AGENTS.md
data/*
PROJECT_PLAN.md

!data/.gitignore
qdrant_storage/

# Ease of use scripts
scripts/utils/
